// 颜色定义规范
$color-background = #ffffff
$color-background-white = #f8f8f8

$color-background-red = #EE3834
$color-font = #000000
$color-font-tab = cornflowerblue
$color-font-act=#F8626D
$color-font-white=#ffffff

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = .64rem
$font-size-medium-x = .72rem
$font-size-large = 18px
$font-size-large-x = 22px
